/* General Reset */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;

    background-color: #f5f5f5;
}

/* Navigation bar */
.navbar {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Inner Container (Constrained to Table Width) */
.navbar-container {
    max-width: 1600px; /* Same width as the table */
    margin: 0 auto; /* Center the container */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px; /* Padding inside the container */
    gap: 16px;
}

.navbar-search {
    display: flex;
    align-items: center;
    margin: 0 16px; /* Center in the navbar */
    flex-grow: 1;
}

.search-input {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
    max-width: 1200px; /* Constrain the width */

}

.search-input:focus {
    border-color: #38b2ac; /* Teal color */
}

.search-button {
    font-size: 14px;
    padding: 10px 12px;
    background-color: #38b2ac; /* Teal */
    color: white;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.search-button:hover {
    background-color: #2c7a7b; /* Darker Teal */
}

.search-icon {
    width: 14px;
    height: 14px;
    color: white;
}

/* Logo and Name */
.navbar-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 16px;
}

.navbar-logo img {
    height: 36px;
    width: 36px;
}

.navbar-name {
    font-size: 20px;
    font-weight: bold;
    color: #2c7a7b;
}

/* Navigation Links */
.navbar-links {
    display: flex;
    gap: 40px;
}

.nav-link {
    text-decoration: none;
    color: #2c7a7b;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #38b2ac;
}

/* Login Button */
.navbar-login .nav-button {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #38b2ac;
    border-radius: 20px;
    color: #ffffff;
    background-color: #38b2ac;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.navbar-login .nav-button:hover {
    background-color: #2c7a7b;
    border-color: #2c7a7b;
}

/* For Login and Logout successfully message */
.message-container-success {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    background-color: #e6f4e6; /* Light green background */
    border: 1px solid #38b2ac; /* Teal border to match the theme */
    color: #2c7a7b; /* Dark teal text for contrast */
    text-align: center;
    font-size: 1rem; /* Adjust font size for readability */
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for a clean, professional look */
}

.message-container p {
    margin: 0 auto;
}

.table-container {
    margin: 2rem auto;
    max-width: 1600px;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container h1 {
    width: 100%;
    text-align: center;
    font-size: 24px; /* Slightly smaller */
    color: #2c7a7b; /* Darker teal */
    margin-bottom: 24px;
    border-bottom: 2px solid #38b2ac; /* Subtle accent underline */
    display: inline-block;
    padding-bottom: 8px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.table-container thead th {
    background-color: #38b2ac;
    color: white;
    text-align: left;
    padding: 10px;
}

.table-container thead th:first-child {
    border-top-left-radius: 8px;
}

.table-container thead th:last-child {
    border-top-right-radius: 8px;
}

tbody tr {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

tbody tr:hover {
    background-color: #ebf7f7;
}

tr:nth-child(even) {
    background-color: #f9fafb; /* Light gray for alternating rows */
}

td {
    padding: 10px;
    border-bottom: 1px solid #f9fafb;
}

/* Right align all columns except first 2 */
.table-container td:nth-child(n+3) {
    text-align: right;
}

.table-container thead th:nth-child(n+3) {
    text-align: right;
}


/* Individual TD elements */
.coin-logo {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.crypto-name {
    font-weight: bold;
    margin-right: 5px;
}

.crypto-symbol {
    color: gray;
    font-size: 0.8rem;
}

/* Change percentage styles */
.crypto-price-change {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.crypto-price-change.positive {
    color: green;
}

.crypto-price-change.negative {
    color: red;
}

.crypto-price-change.neutral {
    color: #555; /* Neutral gray */
}

tbody tr td:first-child {
    font-weight: bold;
}

/* Pagination */
.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #555;
    max-width: 1648px;
    width: 100%;
    margin: 0 auto;
}

.pagination-info {
    text-align: left;
    font-size: 14px;
    color: #555;
}

.pagination {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.pagination a, .pagination-disabled {
    flex: 1;
    text-align: center;
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    color: #2c7a7b;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination a:hover {
    background-color: #e6f7f7;
    color: #2c7a7b;
}

.pagination-disabled {
    color: #aaa;
    pointer-events: none;
    background-color: #f5f5f5;
}

.pagination a.active {
    background-color: #2c7a7b;
    color: white;
    border: none;
}

/* Footer */
footer {
    background-color: #2c7a7b; /* Darker teal */
    color: white;
    text-align: center;
    padding: 16px 0;
    font-size: 14px;
    margin-top: 24px;
}