/* General Reset */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

/* Container for login and logo */
.login_container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Floating effect */
    overflow: hidden; /* Ensures clean edges */
    max-width: 800px;
}

/* Logo section */
.login_logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f9fafb; /* Slightly lighter tone for distinction */
}

.login_logo_image {
    max-width: 100%;
    height: auto;
}


/* Login form section */
.login_area {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.login_heading {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

.login_input-container {
    position: relative;
    margin-bottom: 1rem;
}

.login_input_group {
    position: relative;
}

.login_input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px; /* subtle rounding */
    outline: none;
    box-sizing: border-box;
}

.login_input:focus {
    border-color: #2c7a7b; /* Teal 600 */
    box-shadow: 0 0 4px rgba(56, 178, 172, 0.5); /* Subtle glow on focus */
}

.login_icon {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    color: #bbb;
    height: 60%;
}

/* Error styling for the input fields */
.login_input--error {
    border-color: #ef4444;  /* Red border when error occurs */
    background-color: #fff0f0;  /* Light red background when error occurs */
}

/* Error message container */
.login_error_group {
    display: flex;
    align-items: center;
    font-size: 0.875rem;  /* Smaller font for error message */
    color: #ef4444;  /* Red color for error message */
}

.login_error_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* width: 1.25rem; */
    height: 1.25rem;
    color: #ef4444;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 0.5rem;  /* Space between icon and text */
    flex-shrink: 0;
    margin-top: 1px;
}

.login_error_text {
    word-wrap: break-word;
    text-align: left;
}

.login_error_group ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Remove default list styling */
}

.login_error_item {
    display: flex;
    align-items: flex-start; /* Ensure top alignment between icon and multi line text */
    margin-bottom: 0.25rem; /* Space between errors */
}

.login_error_item:last-child {
    margin-bottom: 0; /* Remove margin from the last error item */
}

/* for login button */
.login_button {
    background-color: #2c7a7b; /* Teal 700 */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3 ease;
    width: 100%;
    font-weight: 500;
}

.login_button:hover {
    background-color: #38b2ac; 
}

/* for signup_link */
.login_signup {
    margin-top: 1rem;
    font-size: 0.875rem;
}

.login_signup_link {
    color: #2c7a7b;
    font-weight: 500;
    transition: color 0.3s ease;
    text-decoration: none;
}

.login_signup_link:hover {
    color: #38b2ac;
    text-decoration: underline;
}
