<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | HodlScout</title>
    <link rel="stylesheet" href="homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
</head>

<body>
    <header class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <img src="/images/hodlScoutLogo.png" alt="hodlScout Logo">
                <span class="navbar-name">HodlScout</span>
            </div>

            <nav class="navbar-links">
                <a href="/" class="nav-link">Home</a>
                <a href="/watchlist" class="nav-link">Watchlist</a>
                <a href="/portfolio" class="nav-link">Portfolio</a>
            </nav>

            <form method="GET" action="/search" class="navbar-search">
                <input type="text" name="query" placeholder="Search cryptocurrencies..." class="search-input">
                <button type="submit" class="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="search-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                      </svg>                      
                </button>
            </form>

            <div class="navbar-login">
                <div th:unless="${isLoggedIn}">
                    <a href="/login" class="nav-button">Login</a>
                    <a href="/signup" class="nav-button">Sign Up</a>
                </div>
                <div th:if="${isLoggedIn}">
                    <a href="/logout" class="nav-button">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <div class="message-container-success" th:if="${redirectLoginToHomepage}">
        <p>Logged in successfully</p>
    </div>

    <div class="message-container-success" th:if="${redirectLogoutToHomepage}">
        <p>Logged out successfully</p>
    </div>  

    <div class="message-container-success" th:if="${redirectSignupToHomepage}">
        <p>Signed up successfully. Please login to access your watchlist and portfolio</p>
    </div>  

    <div class="table-container">
        <h1>Current Cryptocurrency Prices by Market Cap</h1>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>24h %</th>
                    <th>Market Cap</th>
                    <th>Volume(24h)</th>
                    <th>Circulating Supply</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="coin : ${coins}" th:object="${coin}">
                    <td th:text="*{marketCapRank}"></td>
                    <td>
                        <img th:src="*{image}" class="coin-logo">
                        <span th:text="*{name}" class="crypto-name"></span>
                        <span th:text="*{symbol}" class="crypto-symbol"></span>
                    </td>
                    <td th:text="'$' + *{currentPrice}"></td>
                    <td>
                        <span class="crypto-price-change" th:classappend="${coin.priceChange.equals('0.00') || coin.priceChange.equals('nil')} ? 'neutral' : 
                                        (${coin.priceChange.contains('-')} ? 'negative' : 'positive')">
                            <span th:if="${coin.priceChange.contains('-')}">▼</span>
                            <span th:unless="${coin.priceChange.contains('-')}">▲</span>
                            <span th:if="${coin.priceChange.equals('nil')}">-</span>
                            <span th:unless="${coin.priceChange.equals('nil')}"
                                th:text="${coin.priceChange} + '%'"></span>
                        </span>
                    </td>
                    <td th:text="'$' + *{marketCap}"></td>
                    <td th:text="'$' + *{totalVolume}"></td>
                    <td th:text="*{circulatingSupply} + ' ' + *{symbol}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination control -->
     <div class="pagination-container">
        <div class="pagination-info">
            <p th:text="'Showing ' + ${start} + ' - ' + ${end} + ' out of ' + ${totalCoins}"></p>
        </div>
        <div class="pagination">
            <span class="pagination-disabled" th:if="${currentPage eq 1}">&lt;</span>
            <a th:if="${currentPage gt 1}"
            th:href="@{/(page=${currentPage - 1})}">&lt;</a>

            <a th:if="${currentPage gt 3}" th:href="@{/(page=1)}">1</a>
            <span th:if="${currentPage gt 3}">...</span>

            <a th:if="${currentPage gt 2}" th:href="@{/(page=${currentPage - 2})}"
            th:text="${currentPage - 2}"></a>

            <a th:if="${currentPage gt 1}" th:href="@{/(page=${currentPage - 1})}"
            th:text="${currentPage - 1}"></a>

            <a class="active" th:text="${currentPage}"></a>

            <a th:if="${currentPage lt totalPages}" th:href="@{/(page=${currentPage + 1})}"
            th:text="${currentPage + 1}"></a>

            <a th:if="${currentPage lt totalPages - 1}" th:href="@{/(page=${currentPage + 2})}"
            th:text="${currentPage + 2}"></a>

            <span th:if="${currentPage lt totalPages - 3}">...</span>
            <a th:if="${currentPage lt totalPages - 3}" th:href="@{/(page=${totalPages})}"
            th:text="${totalPages}"></a>

            <span class="pagination-disabled" th:if="${currentPage eq totalPages}">&gt;</span>
            <a th:if="${currentPage lt totalPages}"
            th:href="@{/(page=${currentPage + 1})}">&gt;</a>
        </div>
     </div>

    <footer>
        <div class="footer-container">
            <p>&copy; 2024 HodlScout. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>