<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist | HodlScout</title>
    <link rel="stylesheet" th:href="@{/css/watchlistUnauthorized.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
</head>

<body>

    <header class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <img src="/images/hodlScoutLogo.png" alt="hodlScout Logo">
                <span class="navbar-name">HodlScout</span>
            </div>

            <nav class="navbar-links">
                <a href="/" class="nav-link">Home</a>
                <a href="/watchlist" class="nav-link">Watchlist</a>

            </nav>

            <form method="GET" action="/search" class="navbar-search">
                <select name="coinId" class="search-dropdown">
                    <option value="" disabled selected>Search cryptocurrencies. Select a coin...</option>
                    <option th:each="coin : ${coin_name_and_id_list}" th:value="${coin.id}" th:text="${coin.name}">
                    </option>
                </select>
                <button type="submit" class="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="search-icon">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                </button>
            </form>

            <div class="navbar-login">
                <div>
                    <a href="/login" class="nav-button">Login</a>
                    <a href="/signup" class="nav-button">Sign Up</a>
                </div>
            </div>
        </div>
    </header>

    <div class="content-container">
        <div class="message-container">

            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                        d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 1 1-7.48 0 24.585 24.585 0 0 1-4.831-1.244.75.75 0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25 9.75V9Zm4.502 8.9a2.25 2.25 0 1 0 4.496 0 25.057 25.057 0 0 1-4.496 0Z"
                        clip-rule="evenodd" />
                </svg>
            </div>

            <h1>Your Crypto Watchlist Awaits</h1>
            <p>Create a personalized watchlist to track your favorite cryptocurrencies in real-time</p>

            <a href="/signup" class="signup-button">Get Started</a>
            <a href="/login" class="login-link">Already have an account? Login</a>
        </div>
    </div>



    <footer>
        <div class="footer-container">
            <p>&copy; 2024 HodlScout. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>